html, body {
    color: #fff;
    background-color: #2C1A7E;

    font-family: "OpenSans-Regular", "Arial", sans-serif;
	
	font-size: 18px;
	height: 100%;
}






@font-face{
	font-family: 'OpenSans-Regular';
	src: url(/fonts/OpenSans-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Poppins-bold';
	src: url(/fonts/Poppins-bold.ttf);
	font-style: normal;
	font-weight: bold;
}

a {
	font-family: "Poppins-bold";
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}



h1, h2, h3, h4, h5 {
	font-family: "Poppins-bold";
}


h1 { font-size: 46px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }




h1 {
	margin: 0 0 50px 0;
}

h2, h3 {
	margin: 0;
}










.miniTitle {
	font-size: 20px;
	margin: 0;
}



.mainWrapper {
	min-width: 1200px;
}



main {
	margin: 0;
	padding-top: 150px;
	flex: 0 0;
	min-height: 100%;
	/* background-image: linear-gradient(to bottom, #2c1a7e, #33208a, #392696, #402da2, #4633af); */
}

.content {
	min-height: 90%;
}

	

.mainWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.topbar {
	margin: 0;
	width: 100%;
	height: 90px;
	min-height: 90px;
	background-color: #212226;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}



.logo {
	/*width: 220px;*/
	height: 30px;
	margin: 0px;
}




nav {
	position: fixed;
	top: 0;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	flex: 0 0 320px;
	background-color: transparent;
	padding: 34px 80px;
	z-index: 10;
	transition: all 0.2s ease;
}

.currentlink {
	color: #00C9DB !important;
}

nav a {
	font-size: 16px; /* of 14 */
	padding: 4px 12px;
}

nav a:hover {
	color: #00C9DB;
	transition: all 0.2s ease;
}




.left-nav {
	margin: 0px 0px 0px 0px;
}

.right-nav {
	margin: 0px 0px 0px 0px;
}



.collapsed-nav {
	padding: 8px 80px;
	background-color: #4633AF;
	transition: all 0.2s ease;
}



.logoutlink {
	font-size: 16px;
	width: auto;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}









.content {
	margin: 10px 0 0 0;
	padding: 50px;
	background-color: #212226;
	border-radius: 10px;
}







/* ALL BUTTONS */
button {
	font-family: "Poppins-bold", sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #00C9DB;
	border: 2px solid #00C9DB;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;


	
	padding: 10px 20px;

	transition: all 0.5s ease;

}
/*---------------------------------------------------------------*/
.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.375rem;
	color: #f1f1f8;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}


.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.3125rem;
	border: 1px solid #9791ae;
	border-radius: 0.25rem;
	background-color: #413d52;
	color: #f1f1f8;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.0625rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.3125rem;
	border: 1px solid #9791ae;
	border-radius: 0.25rem;
	background-color: #413d52;
	color: #f1f1f8;
	font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}


.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.notEmpty {
	background-color: transparent;
}



.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.help-block.with-errors .list-unstyled {
	color: #f1f1f8;
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}

.help-block.with-errors {
	margin: 0;
}



.list-unstyled li {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}



form .form-group button {
	position: absolute;
	right: 0;
}


/* Remove arrows form inputs */
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*--------------------------------------------------------------------------------------------------*/

button:hover {
	cursor: pointer;

	color: #00C9DB;
	background-color: transparent;
	transition: all 0.5s ease;
}



form {
	position: relative;
}


#loginForm button {
	position: absolute;
}





/* Make a element look like button */
.button-link {
	font-family: "Poppins-bold", sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #00C9DB;
	border: 2px solid #00C9DB;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;

	padding: 10px 20px;

	transition: all 0.5s ease;
}

.button-link:hover {
	cursor: pointer;

	color: #00C9DB;
	background-color: transparent;
	transition: all 0.5s ease;
}



.linkBtn {
	font-size: 20px;
	color: #fff;
	background-color: #212226;
	text-align: center;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 50px;
	height: 50px;
}

.linkBtn:hover {
	color: #212226;
	background-color: #fff;
	cursor: pointer;
}


.disabledBtn {
	border: 2px solid grey;
	background-color: grey;
	height: 55px;
}

.disabledBtn:hover {
	color: #fff;
	border: 2px solid grey;
	background-color: grey;
	cursor: default;
}




/* HOME SEARCH BAR */
.searchForm {
	margin: 20px 0 60px 0;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 50px;
	height: 70px;
}


.searchForm input {
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	padding: 0 0 0 30px;
	font-size: 20px;
	color: #fff;
}

.searchForm input::placeholder {
	color: #C3C3C3;
	font-style: italic;
}

input:focus {
	outline-width: 0;
	background-color: transparent;
}

.searchForm .name {
	border-radius: 50px 0 0 50px;
}


.lineWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 0;
	height: 100%;
}

.line {
	position: absolute;
	left: 50%;
	margin: 0;
	width: 2px;
	height: 100%;
	background-color: #fff;
}

.searchForm p {
	position: relative;
	top: 20%;
	margin: 0;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 50px;
	font-size: 16px;
	background-color: #212226;
}


.searchForm .profession {
	border-radius: 0;
	border-right: 2px solid #fff;
}


.searchForm button {
	margin: 0 10px 0 0;
}


.mobilesearch {
	display: none;
}


.mobilesearch .dividing-input {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: -18px 0px -5px 0px;
}

.mobilesearch .dividing-input p {
	margin: 0;
	padding: 10px 12px;
	border-radius: 50px;
	background-color: #262431;
}






/* Remove autofill background color for inputs */
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}






/* SEARCHRESULTS */
.searchResults {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* 00C9DB */
/* 262431 */
/* 4633AF */
.searchedBusiness {
	color: #fff;
	background-color: #2F2C3D;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	border: 1px solid #fff;
	border-radius: 100px;
	width: 100%;
	margin: 0 0 40px 0;
	transition: all 0.2s ease;
}

.searchedBusiness p {
	color: #fff;
	background-color: #2F2C3D;
	margin: 0 10px 0 0;
	transition: all 0.2s ease;
}

.searchedBusiness:hover, .searchedBusiness:hover p {
	color: #fff;
	background-color: #262431;
	transition: all 0.2s ease;
}




.mainInfo {
	margin: 0 0 0 10px;
}


.locationInfo {
	margin: 0 10px 0 0;
}

.mobileInfo {
	display: none;
}





/* BUSINESS DETAIL */
.titleDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.titleDiv form {
	width: 50%;
}

.titleInfo {
	display: flex;
	flex-direction: column;
	width: auto;
	justify-content: space-between
}

.titleInfo h1 {
	margin: 0;
}

.titleInfo p {
	margin-top: 10px;
}



.businessDetails, .businessInfo {
	display: flex;
	flex-direction: column;
}

.mainBusinessInfo {
	display: flex;
	flex-direction: column;
	margin: 0 0 20px 0;
}



.details p {
	margin: 10px 0 0 0;
}


.openingHours {
	width: 100%;
}

.openingHours h2 {
	margin: 0px 0 20px 0;
}


.businessDetailTable {
	margin: 0 0 0 20px;
	border-collapse: collapse;
	height: 80%;
	width: 80%;
}

.businessDetailTable, .businessDetailTable th, .businessDetailTable td  {
	margin: 0 0 0 0;
	border: 1px solid #fff;
	text-align: center;
}


.detail-short-table-days {
	display: none;
}



.createAppointment{
	margin-top: 10px;
	margin-bottom: 40px;
}



/* FORM STUFF */


form input, form textarea {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: transparent;
	font-size: 18px;
}


form div {
	margin: 10px 0px;
}


textarea {
	resize: none;
}


/*
input, textarea {
	padding: 5px 10px;
	width: 100%;
	font-size: 18px;
}
*/


/* LOGIN FORM */
#loginForm {
	display: flex;
	flex-direction: column;
}


.loginInputs {
	display: flex;
	flex-direction: row;
}

.loginInputDiv {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 0;
	width: 100%;
}

.loginInputDiv input {
	width: 80%;
}

#loginForm button {
	margin: 20px 0 0 0;
	width: 150px;
}




/* REGISTER FORM */
.register-account-type {
	display: flex;
	flex-direction: row;
}

.register-account-type a {
	margin-left: 30px;
}


.radioGroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 40px 0;
}


.radioGroup h2 {
	margin: 0 20px 0 0;
}


.radioInput {
	display: flex;
	flex-direction: row;
	margin: 0px 40px 0px 0px;
}

.radioInput label {
	margin: 0 0 0 0;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 50px;
}

/*
input[type="radio"] {
	display: none;
}
*/


input[type="radio"]:hover + label {
	cursor: pointer;
}





.userForm h2 {
	margin: 0 0 20px 0;
}

.emailInputs, .passwordInputs {
	margin: 20px 0 0 0 !important;
}




/*
#che.checkboxDiv {
	height: 50px;
}
*/


/*

.monday {
	color: #fff;
	background-color: pink;
}

.tuesday {
	color: #fff;
	background-color: orange;
}

.wednesday {
	color: #fff;
	background-color: green;
}

.thursday {
	color: #fff;
	background-color: blue;
}

.friday {
	color: #fff;
	background-color: purple;
}

*/




.soloInput {
	display: flex;
	flex-direction: column;
	margin: 0px 50px 25px 0px;
	width: 25%;
}


.soloGroup {
	margin: 0px 50px 0px 0px;
}

.soloGroup .soloInput {
	width: 100%;
}

.inputGroup {
	display: flex;
	flex-direction: row;
	margin: 0px;
	width: 100%;
}


.textAreaInput {
	width: 54%;
}




.dayDiv {
	display: flex;
	flex-direction: row;
	margin: 20px 0px 40px 0px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #fff;
}

.dayDiv .day-indicator {
	margin-top: 0;
}

.day-indicator {
	margin-right: 40px;
}


.checkboxDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 0px 10px 0px;
}

.checkboxDiv h3 {
	margin: 0px 20px 0px 0px;
}

.checkboxDiv input {
	position: absolute;
	width: auto;
	opacity: 0;
	cursor: pointer;
	width: 0;
	height: 0;
}

.checkboxDiv {
	margin: 20px 0 40px 0;
	position: relative;
}

.checkboxDiv label h2 {
	margin: 0 0 0 40px;
}

.checkboxDiv h2:hover, .checkboxDiv label:hover {
	cursor: pointer;
}



.checkboxDiv label {
	margin: 0 0 0 0;
}

.checkmark {
	position: absolute;
	top: 2px;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkboxDiv:hover input ~ .checkmark {
	background-color: #fff;
	cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.checkboxDiv input:checked ~ .checkmark {
	background-color: #fff;
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkboxDiv input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.allow_guests .checkmark:after {
	left: 7px;
	top: 1px;
	width: 8px;
	height: 15px;
	border: solid #18191D;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



.appointmentduration {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 50px 0;
}

.appointmentduration h2 {
	margin: 0 20px 0 0;
}


.appointmentduration select {
	padding: 5px;
	border-radius: 5px;
}



.radioGroup h2 {
	margin: 0 20px 0 0;
}

.openingHours .radioGroup .radioInput {
	width: 100%;
}



.isClosedDay {
	margin: 0 0 20px 0;
}


.isClosedDay .checkmark {
	position: absolute;
	top: 2px;
	left: 80px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-right: 50px;
}



.isClosedDay h3 {
	width: 7%;
}


.isClosedDay label {
	margin: 0 0 0 40px;
}

/* Style the checkmark/indicator */
.isClosedDay .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #18191D;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}






.hoursDiv {
	display: flex;
	flex-direction: row;
	margin: 0px 20px 0px 20px;
}

.hoursDiv div {
	display: flex;
	flex-direction: column;
	margin: 0px 20px 0px 0px
}

.time-dividers {
	margin-top: 50px !important;
}

.time-dividers span {
	margin-bottom: 30px;
}

.hoursDiv input {
	margin: 0px 0px 10px 0px;
}







/* CALENDAR */
.calendarWeek, .calendarDay {
	text-align: center;
}


.calendarWeek a:hover, .calendarDay a:hover {
	color: #fff;
}

.calendar {
	width: 100%;
}

.calendar p {
	margin: 0;
}


.calendar .hour {
	width: 70px;
}

.calendar, .calendar th, .calendar td {
	border-collapse: collapse;
	border-right: 2px solid #fff;
	/*border: 2px solid #fff;*/
}


.calendar th {
	text-align: center;
	border-bottom: 2px solid #fff;
}

.calendar td {
	width: 150px;
	height: 50px;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}


.calendar td button {
	border-radius: 0;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;

	background:none;
	color:inherit;
	border:none; 
	padding:0!important;
	font: inherit;
	cursor: pointer;
}




.calendar .available {
	background-color: #2ecc48;
}


.calendar .available:hover {
	background-color: #26ab3c;
}



/* CC0000 */
.calendar .past {
	background-color: #262431;
}


/* F0953A */
.calendar .occupied {
	background-color: #DB7100;
}


/* F0953A */
.calendar .closed {
	background-color: #2F2C3D;
}




.calendarDay {
	width: 100%;
}

.calendarDay, .mobilecalendar {
	display: none;
}




/* CREATE APPOINTMENT FORM */




.formCheckBox {
	margin: 0 0 20px 40px;
}


.formCheckBox .checkmark {
	position: absolute;
	top: -2px;
	left: -40px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-right: 50px;
}


.formCheckBox label {
	margin: 0;
}

/* Style the checkmark/indicator */
.formCheckBox .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #18191D;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}







/* Account details */
.accountInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.account-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info-group {
	display: flex;
	flex-direction: column;
}

.info-item {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: 0 0 20px 0;
}

.info-item p {
	margin: 0 0 0 10px;
}



.openingHours {
	margin-top: 40px;
}


.openingHour {
	display: flex;
	flex-direction: row;
}

.openingHour h4, .openingHour p {
	margin-right: 20px;
}



.deleteClient, .deleteBusiness {
	margin: 20px 0 40px 0;
	
	display: inline-block;

	color: #fff;
	background-color: #2F2C3D;
	border: 1px solid #fff;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	padding: 10px 20px;

	transition: all 0.5s ease;
}

.deleteClient.secondBtn, .deleteBusiness.secondBtn {
	margin: 10px 20px 10px 0;
}

.deleteClient:hover, .deleteBusiness:hover {
	cursor: pointer;
	
	color: #262431;
	background-color: #fff;
	transition: all 0.5s ease;
}

.deleteClientForm, .deleteBusinessForm {
	display: flex;
	flex-direction: row;
}


.business-account .button-link {
	margin-right: 20px;
}

.account-info-mobile {
	display: none;
}



/* Home Favorites */
.botmargin {
	margin: 0 0 20px 0;
}


.form-control-submit-button {
	margin-bottom: 40px;
}

/* Afspraken */
.singleAppointment {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.businessAppointment {
	display: flex;
	flex-direction: column;
}

.standardClientInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.extraClientInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.contactInfo, .otherInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


.singleAppointment a {
	color: #fff;
	margin-left: 10px;
	transition: all 0.2s ease;
}

.singleAppointment a:hover {
	color: #00C9DB;
	transition: all 0.2s ease;
}



.singleAppointment h3 {
	display: flex;
	flex-direction: row;
}


.singleAppointment h4 {
	margin: 0;
}

.singleAppointment p {
	margin: 0;
}


.no-appointments {
	margin: 20px 0px 0px 20px;
}



.appointmentLinks {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
}

.appointmentLinks a {
	height: auto;
	width: 40%;
}


.leftmargin {
	margin-left: 20px;
}


.topmargin {
	margin-top: 40px;
}



.extraClientInfo {
	margin: 0 0 20px 20px;
}


.deleteAppointment {
	width: 180px;
	margin-bottom: 10px;
}

.showMoreDetails:hover, .deleteAppointment:hover, .noBtn:hover {
	cursor: pointer;
}

.noBtn {
	margin-left: 20px;
}



.appointmentOverview {
	display: flex;
	flex-direction: column;
}


.remove-appointment-form .form-group button {
	position: relative;
}



/* ----------------------------------------------- */


.navbar-custom {
	background-color: #4633af;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s ease;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 113px;
	height: 34px;
	margin-bottom: 1px;
	-webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2.375rem/1.5rem "Montserrat", sans-serif;
	color: #fff;
	letter-spacing: -0.5px;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #00c9db;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #4633af;
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #4633af;
}

.navbar-custom .dropdown-item .item-text {
	font: 700 0.75rem/1.5rem "Montserrat", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #00c9db;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.25rem auto 0.25rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


.individual-btn-link{
	margin-bottom: 40px;
}

.remove-appointment-form button {
	margin-bottom: 0;
}


/* Max-width with 375px */
@media (max-width: 375px) {
	/*
	nav, .navbar-collapse {
		width: 100%;
	}
	*/

	h1 {
		font-size: 36px;
	}
}

/* Max-width with 482px */
@media (max-width: 482px) {
	.dayDiv {
		flex-direction: column;
	}

	.day-indicator .checkbox {
		margin-bottom: 0;
	}

	.form-group.checkbox {
		word-wrap: break-word;
	}


	.detail-short-table-days {
		display: block;
	}

	.detail-long-table-days {
		display: none;
	}
	
}

/* Max-width with 768px */
@media (max-width: 768px) {
	
	.container h1 {
		text-align: center;
	}


	/* Change to day calendar */
	.calendarDay, .mobilecalendar {
		display: table;
	}

	.calendarWeek, .fullcalendar {
		display: none;
	}



	/* Home searchbar */
	.fullsearch {
		display: none;
	}

	.mobilesearch {
		display: block;
		margin-bottom: 100px;
	}



	/* Search results + favorites */
	.searchedBusiness {
		flex-direction: column;
		justify-content: center;
	}

	.mainInfo, .locationInfo {
		display: none;
	}

	.mobileInfo {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.mobileInfo h3, .mobileInfo p {
		text-align: center;
		margin: 0px 5px;
	}



	/* Appointments */
	.singleAppointment {
		flex-direction: column;
		justify-content: center;
	}

		
	.standardClientInfo {
		flex-direction: column;
	}


	.extraClientInfo {
		flex-direction: column;
	}

	.contactInfo, .otherInfo {
		flex-direction: column;
	}


	/* Account info */
	.info-item, .openingHour {
		flex-direction: column;
	}

	.info-item p {
		margin-left: 0;
		margin-bottom: 10px;
	}

	.openingHour {
		margin-bottom: 20px;
	}

	.openingHour p {
		margin-bottom: 10px;
	}


	/* Business detail */
	.createAppointment .disabledBtn {
		width: 300px;
		height: 100px;
	}

	.titleDiv form {
		width: 100%;
	}

	.businessDetailTable {
		width: 100%;
	}

}



/* Max-width with 1024px */
@media (max-width: 1024px) {
	


	/* Appointments */
	.businessAppointment p, .businessAppointment h4, .businessAppointment h3 {
		margin: 5px 0;
	}

	.standardClientInfo {
		flex-direction: column;
	}



	.extraClientInfo {
		flex-direction: column;
		text-align: center;
	}

	.contactInfo, .otherInfo {
		flex-direction: column;
		text-align: center;
	}



	/* Account info */
	.account-info-mobile {
		display: flex;
		flex-direction: column;
	}

	.business-account, .account-info {
		display: none;
	}

	.business-account .account-info {
		display: flex;
	}

	.individual-btn-link {
		display: inline-block;
		margin-bottom: 40px;
	}


	/* Business detail */
	.titleDiv {
		flex-direction: column;
	}

	.titleInfo h1 {
		text-align: left;
	}
}




/* Min-width width 768px */
@media (min-width: 768px) {

	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
	}
	
	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #00c9db;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #4633af;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #fff;
	}
	
	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #00c9db;
	}

	.navbar-custom .dropdown-menu {
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}
	/* end of navigation */	
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* Navigation */
	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #00c9db;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #00c9db;
	}
	/* end of navigation */


}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}
	/* end of navigation */


	
}
/* end of min-width width 1200px */















/* ----------------------------------------------- */


/* MESSAGE + ERROR */
.messages {
	position: absolute;
	top: -50px;
	right: 5.3%;
	text-align: right;
}

.message, .error {
	margin: 0 20px 0 0;
	padding: 0px 0;
	color: #fff;
	border-radius: 0;
}


.message p, .error p {
	margin: 0;
	padding: 0;
}


.message {
	border-bottom: 5px solid #2ecc48;
}


.error {
	border-bottom: 5px solid #CC0000;
}

#fadeout {
	position: relative;
	opacity: 1;
	transition: 1s opacity;
}

/* END MESSAGE + ERROR */





.hide {
	display: none;
}