html, body {
    color: #fff;
    background-color: #18191D;

    font-family: "Roboto", "Arial", sans-serif;
	
	min-height: 100%;
	font-size: 18px;
}



@font-face{
	font-family: 'Roboto';
	src: url(/fonts/Roboto.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Roboto-Bold';
	src: url(/fonts/Roboto-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

a {
	color: #fff;
	text-decoration: none;
}

nav a:not(.stealthlink), .accountlink {
	font-size: 24px;
	color: #fff;
}

a:hover:not(.stealthlink) {
    color: #212226;
}


h1, h2, h3 {
	font-family: "Roboto-bold";
}

h1 {
	margin: 0 0 50px 0;
	font-size: 46px;
}

h2 {
	font-size: 36px;
}


h3 {
	font-size: 24px;
}


h2, h3 {
	margin: 0;
}

div h2 {
	font-size: 1.5em;
}








.miniTitle {
	font-size: 20px;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}



.mainWrapper {
	min-height: 100vh;
}

main {
	
	min-height: 80%;
}

.content {
	min-height: 90%;
}

	

.mainWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.topbar {
	margin: 0;
	width: 100%;
	height: 90px;
	min-height: 90px;
	background-color: #212226;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.message, .error {
	margin: 0 20px 0 0;
	padding: 0px 20px;
	color: #fff;
	border-radius: 0;
}


.message {
	background-color: transparent; /* EDIT */
	border-bottom: 5px solid #2ecc48;
}


.error {
	background-color: transparent; /* EDIT */
	border-bottom: 5px solid #CC0000;
}


.logo {
	/*width: 220px;*/
	height: 50px;
	margin: 20px 0px 16px 0px;
}

nav {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	flex: 0 0 320px;
	background-color: #212226;
	padding: 0;
}




nav a:not(.stealthlink), .accountlink {
	color: #fff;
	text-align: center;
	padding: 30px 0;
	width: 100%;
}

.currentlink {
	color: #fff;
    background-color: #18191D;
}

nav a:hover:not(.stealthlink) {
	color: #fff;
    background-color: #18191D;
}


.logoutlink {
	font-size: 16px;
	width: auto;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}


main {
	margin: 20px;
	flex: 0 0;
}


.content {
	margin: 10px 0 0 0;
	padding: 50px;
	background-color: #212226;
	border-radius: 10px;
}


.contentDiv {
	margin: 0 0 0 40px;
}


/*
.footer {
	margin: 0;
	width: 100%;
	height: 50px;
	background-color: #212226;
}
*/



/* ALL BUTTONS */
button {
	font-family: "Roboto-regular", sans-serif;
	border: 2px solid #fff;
	border-radius: 50px;
	background-color: transparent;
	color: #fff;
	padding: 10px 20px;
	font-size: 20px;
	height: 50px;
}

button:hover {
	background-color: #fff;
	color: #18191D;
	cursor: pointer;
}



.linkBtn {
	font-size: 20px;
	color: #fff;
	background-color: #212226;
	text-align: center;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 50px;
	height: 50px;
}

.linkBtn:hover {
	color: #212226;
	background-color: #fff;
	cursor: pointer;
}


.disabledBtn {
	border: 2px solid grey;
	background-color: grey;
}

.disabledBtn:hover {
	color: #fff;
	border: 2px solid grey;
	background-color: grey;
	cursor: default;
}




/* HOME SEARCH BAR */
.searchForm {
	margin: 20px 0 0 0;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 50px;
	height: 70px;
}


.searchForm input {
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	padding: 0 0 0 30px;
	font-size: 20px;
	color: #fff;
}

.searchForm input::placeholder {
	color: #C3C3C3;
}

input:focus {
	outline-width: 0;
	background-color: transparent;
}

.searchForm .name {
	border-radius: 50px 0 0 50px;
}


.lineWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 0;
	height: 100%;
}

.line {
	position: absolute;
	left: 50%;
	margin: 0;
	width: 2px;
	height: 100%;
	background-color: #fff;
}

.searchForm p {
	position: relative;
	top: 20%;
	margin: 0;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 50px;
	font-size: 16px;
	background-color: #212226;
}


.searchForm .profession {
	border-radius: 0;
	border-right: 2px solid #fff;
}

.searchForm .township {
	/*  */
}

.searchForm button {
	margin: 0 10px 0 0;
}



/* Remove autofill background color for inputs */
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}






/* SEARCHRESULTS */
.searchResults {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.searchedBusiness {
	color: #fff;
	background-color: #212226;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	border: 2px solid #fff;
	border-radius: 50px;
	width: 40%;
	margin: 0 40px 40px 0;
}

.searchedBusiness:hover, .searchedBusiness:hover p {
	color: #212226;
	background-color: #fff;
}


.searchedBusiness p {
	color: #fff;
	margin: 0 10px 0 0;
}


.mainInfo {
	margin: 0 0 0 10px;
}


.locationInfo {
	margin: 0 10px 0 0;
}





/* BUSINESS DETAIL */
.titleDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0 50px 0;
}

.titleDiv form {
	width: 50%;
}

.titleInfo {
	display: flex;
	flex-direction: column;
	width: auto;
	justify-content: space-between
}


.titleInfo h1 {
	margin: 0;
}



.businessDetails, .businessInfo {
	display: flex;
	flex-direction: column;
}

.mainBusinessInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	margin: 0 0 20px 0;
}


.details {
	width: 40%;
}

.details div {
	margin: 0 0 20px 0;
}

.details p {
	margin: 10px 0 0 20px;
}


.mainBusinessInfo .openingHours {
	width: 40%;
}

.mainBusinessInfo .openingHours h2 {
	margin: 0 0 10px 0;
}


.businessDetailTable {
	margin: 0 0 0 20px;
	border-collapse: collapse;
	height: 80%;
	width: 80%;
}

.businessDetailTable, .businessDetailTable th, .businessDetailTable td  {
	margin: 0 0 0 0;
	border: 1px solid #fff;
	text-align: center;
}


.businessDetailTable th {
	width: 30%;
}

.businessDetailTable td  {
	width: 30%;
}





/* FORM STUFF */
form {
	width: 100%;
}


form input, form textarea {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: transparent;
	font-size: 18px;
}


form div {
	margin: 10px 0px;
}


textarea {
	resize: none;
}


/*
input, textarea {
	padding: 5px 10px;
	width: 100%;
	font-size: 18px;
}
*/


/* LOGIN FORM */
.loginForm {
	display: flex;
	flex-direction: column;
}


.loginInputs {
	display: flex;
	flex-direction: row;
}

.loginInputDiv {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 0;
	width: 100%;
}

.loginInputDiv input {
	width: 80%;
}

.loginForm button {
	margin: 20px 0 0 0;
	width: 150px;
}




/* REGISTER FORM */
.radioGroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 40px 0;
}


.radioGroup h2 {
	margin: 0 20px 0 0;
}


.radioInput {
	display: flex;
	flex-direction: row;
	margin: 0px 40px 0px 0px;
}

.radioInput label {
	margin: 0 0 0 0;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 50px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:hover + label {
	color: #18191D;
	background-color: #fff;
	cursor: pointer;
}

input[type="radio"]:checked + label {
	color: #18191D;
	background-color: #fff;
}




.userForm h2 {
	margin: 0 0 20px 0;
}

.emailInputs, .passwordInputs {
	margin: 20px 0 0 0 !important;
}




/*
#che.checkboxDiv {
	height: 50px;
}
*/


/*

.monday {
	color: #fff;
	background-color: pink;
}

.tuesday {
	color: #fff;
	background-color: orange;
}

.wednesday {
	color: #fff;
	background-color: green;
}

.thursday {
	color: #fff;
	background-color: blue;
}

.friday {
	color: #fff;
	background-color: purple;
}

*/




.soloInput {
	display: flex;
	flex-direction: column;
	margin: 0px 50px 25px 0px;
	width: 25%;
}


.soloGroup {
	margin: 0px 50px 0px 0px;
}

.soloGroup .soloInput {
	width: 100%;
}

.inputGroup {
	display: flex;
	flex-direction: row;
	margin: 0px;
	width: 100%;
}


.textAreaInput {
	width: 54%;
}




.dayDiv {
	margin: 20px 0px 30px 20px;
}


.checkboxDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 0px 10px 0px;
}

.checkboxDiv h3 {
	margin: 0px 20px 0px 0px;
}

.checkboxDiv input {
	position: absolute;
	width: auto;
	opacity: 0;
	cursor: pointer;
	width: 0;
	height: 0;
}

.checkboxDiv {
	margin: 20px 0 40px 0;
	position: relative;
}

.checkboxDiv label h2 {
	margin: 0 0 0 40px;
}

.checkboxDiv h2:hover, .checkboxDiv label:hover {
	cursor: pointer;
}



.checkboxDiv label {
	margin: 0 0 0 0;
}

.checkmark {
	position: absolute;
	top: 2px;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkboxDiv:hover input ~ .checkmark {
	background-color: #fff;
	cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.checkboxDiv input:checked ~ .checkmark {
	background-color: #fff;
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkboxDiv input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.allow_guests .checkmark:after {
	left: 7px;
	top: 1px;
	width: 8px;
	height: 15px;
	border: solid #18191D;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



.appointmentduration {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 50px 0;
}

.appointmentduration h2 {
	margin: 0 20px 0 0;
}


.appointmentduration select {
	padding: 5px;
	border-radius: 5px;
}



.radioGroup h2 {
	margin: 0 20px 0 0;
}

.openingHours .radioGroup .radioInput {
	width: 100%;
}



.isClosedDay {
	margin: 0 0 20px 0;
}


.isClosedDay .checkmark {
	position: absolute;
	top: 2px;
	left: 80px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-right: 50px;
}



.isClosedDay h3 {
	width: 7%;
}


.isClosedDay label {
	margin: 0 0 0 40px;
}

/* Style the checkmark/indicator */
.isClosedDay .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #18191D;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}






.hoursDiv {
	display: flex;
	flex-direction: row;
	margin: 0px 20px 0px 20px;
}

.hoursDiv div {
	display: flex;
	flex-direction: column;
	margin: 0px 50px 0px 0px
}

.hoursDiv input {
	margin: 0px 0px 10px 0px;
}







/* CALENDAR */
.calendarWeek {
	text-align: center;
}


.calendarWeek a:hover {
	color: #fff;
}

.calendar {
	width: 100%;
}

.calendar p {
	margin: 0;
}


.calendar .hour {
	width: 70px;
}

.calendar, .calendar th, .calendar td {
	border-collapse: collapse;
	border-right: 2px solid #fff;
	/*border: 2px solid #fff;*/
}


.calendar th {
	border-bottom: 2px solid #fff;
}

.calendar td {
	width: 150px;
	height: 50px;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}


.calendar td button {
	border-radius: 0;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;

	background:none;
	color:inherit;
	border:none; 
	padding:0!important;
	font: inherit;
	cursor: pointer;
}



.calendar .available {
	background-color: #2ecc48;
}

.calendar .available:hover {
	background-color: #26ab3c;
}




.calendar .past {
	background-color: #CC0000;
}

.calendar .occupied {
	background-color: #F0953A;
}






/* CREATE APPOINTMENT FORM */




.formCheckBox {
	margin: 0 0 20px 40px;
}


.formCheckBox .checkmark {
	position: absolute;
	top: -2px;
	left: -40px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-right: 50px;
}


.formCheckBox label {
	margin: 0;
}

/* Style the checkmark/indicator */
.formCheckBox .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #18191D;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}







/* Account details */
.accountInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.accountInfo .details h2 {
	margin: 0 0 20px 0;
}

.accountInfo .details .infoGroup {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: 0 0 40px 40px;
}

.accountInfo .details .infoGroup p {
	margin: 0 0 0 20px;
}

.accountInfo .openingHours {
	width: 40%;
}

.accountInfo .openingHours h2 {
	margin: 0 0 20px 0;
}

.accountInfo .openingHours table {
	margin: 0 0 60px 0;
}


.deleteClient, .deleteBusiness {
	margin: 40px 0 20px 20px;
}

.deleteClient:hover, .deleteBusiness:hover {
	cursor: pointer;
}




/* Home Favorites */
.botmargin {
	margin: 0 0 20px 0;
}




/* Afspraken */
.singleAppointment {
	width: 35%;
	margin: 20px 0 0 20px;
	padding: 10px 20px 20px 20px;
	border: 2px solid #fff;
	border-radius: 20px;
}

.appointmentLinks {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
}

.appointmentLinks a {
	height: auto;
	width: 40%;
}


.leftmargin {
	margin-left: 20px;
}


.topmargin {
	margin-top: 40px;
}

.showMoreDetails {
	width: 100px;
	margin-bottom: 20px;
}


.extraClientInfo {
	margin: 0 0 20px 20px;
}


.deleteAppointment {
	width: 180px;
	margin-bottom: 10px;
}

.showMoreDetails:hover, .deleteAppointment:hover, .noBtn:hover {
	cursor: pointer;
}

.noBtn {
	margin-left: 20px;
}



.appointmentOverview {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}







#fadeout {
	opacity: 1;
	transition: 1s opacity;
}

.hide {
    display: none;
}